@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");

:root {
  --gray: #414141;
  --light_yellow: #ffffe0;
}

/* general  */
body {
  background-color: #f6f6f6 !important;
  font-family: "Roboto", sans-serif;
  color: var(--gray) !important;
  font-weight: 400;
  font-size: 1rem;
}

ul {
  list-style-type: none;
}

.shadow-custom {
  box-shadow: 0px 6px 5px 0px rgba(50, 50, 50, 0.94);
}
.shover:hover {
  box-shadow: 2px 3px 2px 2px rgba(50, 50, 50, 0.94);
}

.pointer {
  cursor: pointer;
}
/* target helps offset the fix nav bar so anchor link would 
jump to the right position */
.target-shift {
  display: block;
  position: relative;
  top: -40px;
  visibility: hidden;
}

.return_top {
  display: inline-block;
  position: relative;
  padding: 10px 10px 10px 10px;
  top: -40px;
  font-weight: 600;
  opacity: 0.4;
  color: #007bff;
  font-size: 1.2rem;
  border-radius: 15px;
}

.return_top:hover {
  opacity: 1;
  background-color: rgb(231, 231, 231);
}

.fixed_spacer {
  height: 100px;
  width: auto;
}
/* nav */
.home {
  border-bottom: 3px solid transparent;
}

.home:hover {
  border-bottom: 3px solid var(--gray);
}

.nav-link {
  font-size: 1.1rem;
}

.nav-link.pointer {
  border-bottom: 3px solid transparent;
  color: #007bff !important;
}

.nav-link.pointer:hover {
  border-bottom: 3px solid #007bff;
  background-color: rgb(231, 231, 231);
}

.number {
  color: rgb(94, 94, 94) !important;
}

/* Hero */
div.background {
  background-size: cover;
  background-position: center;
  min-height: 600px;
  background-repeat: no-repeat;
  background-color: #f06363;
  color: black;
  position: relative;
}

/* Content */
div.right-col {
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  bottom: 30px;
}

button.btn {
  font-size: 1.8rem !important;
}
div.call_btn {
}

.img-fluid.map {
  border: 3px solid transparent;
}

.img-fluid.map:hover {
  border: 3px solid blue;
}

.gold-style {
  color: #ffd700;
  font-size: 2rem;
}

/* service */

/* target helps offset the fix nav bar so anchor link would 
jump to the right position */
.target-shift {
  display: block;
  position: relative;
  top: -40px;
  visibility: hidden;
}

.alink-mimic {
  color: #007bff;
}

li.active-img {
  background: #e6e6e6;
  cursor: pointer;
}

li:hover.alink-mimic {
  background: #e6e6e6;
  cursor: pointer;
}
.alink-mimic:hover {
  text-decoration: underline;
}

.img-container {
  height: 430;
}
.img-fluid.service {
  border: 3px solid transparent;
  max-height: 458px;
}

.list-group-item.extra {
  border: none;
  font-size: 1rem;
  padding: 13px;
}

/* photo */

.thumbnail-container {
  overflow-x: auto;
  margin: 2px;
  padding: 5px 5px;
  text-align: center;
}

.thumbnail-list li {
  display: inline-block;
  cursor: pointer;
}
.thumbnail-image {
  display: block;
  margin: 2px;
  max-width: auto;
  height: 125px;
  border: 5px solid transparent;
}
ul.thumbnail-list {
  padding: 0;
  list-style: none;
}

img.photo-selected {
  border: 5px solid blue;
}

.parent-image-container {
  max-height: 800px;
  width: auto;
}
